:root {
  --sidebar-font-color: #ffffff;
  --sidebar-bgc: #00b0ff;

  --main-content-bgc: #dcdcdc;
  --header-bgc: #ffffff;

  --heading-color: #000;
  --paragraph-card: #899499;
  --border-color-card: #ffbf00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
}

button {
  font: inherit;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0 auto;
}

.dashboard--sidebar {
  padding: 20px;
  height: 100dvh;
  width: 100%;
  background-color: var(--sidebar-bgc);
}

.main--nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr;
  grid-auto-flow: row dense;
  color: var(--sidebar-font-color);
}

.main-nav-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 20px 0 40px;
}

.main--nav-logo {
  font-size: 1.8rem;
}

.bx-dashboard-alt {
  font-size: 2.3rem;
}

.main--nav-list {
  display: grid;
  align-content: space-evenly;
  grid-auto-rows: auto;
  row-gap: 5px;
}

.main--nav-item {
  list-style: none;
}

.main--nav .bxr {
  padding-right: 10px;
  color: var(--sidebar-font-color);
}

.main--nav-link {
  color: var(--sidebar-font-color);
  text-decoration: none;
}

/* Main Content */

.dashboard--main-content {
  height: 100dvh;
  width: 100%;
  background-color: var(--main-content-bgc);
}

.header {
  padding: 20px;
  background-color: var(--header-bgc);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.header--search {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.search {
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-content: center;
  place-items: center;
}

.search--bar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 999px;
  width: 100%;
}

.header--search input {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 999px;
  background-color: var(--main-content-bgc);
}

.header--user-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  place-items: center;
  padding: 10px;
  row-gap: 20px;
}

.header--avatar {
  max-width: 50%;
  border-radius: 50%;
  padding: 5px;
  background-color: yellow;
}

.header--avatar-small {
  max-width: 30%;
}

.header--welcome {
  display: grid;
  grid-template-columns: 65% 1fr;
  align-items: center;
}

.welcome {
  display: grid;
  grid-template-columns: 15% 1fr;
  align-items: center;
}

.header--actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 999px;
  max-width: none;
  font-weight: 600;
  background-color: var(--sidebar-bgc);
  color: var(--header-bgc);
  cursor: pointer;
}

/* PROJECTS SECTION */

.projects {
  display: grid;
  grid-template-columns: 70% 1fr;
}

.proyects--grid {
  padding: 20px;
}

.projects--title {
  margin-bottom: 20px;
  color: var(--heading-color);
}

.projects--cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  padding: 10px;
  border-radius: 8px;
  border-left: 4px solid var(--border-color-card);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background-color: var(--header-bgc);
}

.project--card-title {
  margin-bottom: 5px;
  font-size: 0.9375rem;
  color: var(--heading-color);
}

.project--card-description {
  margin-bottom: 20px;
  color: var(--paragraph-card);
  font-size: 0.75rem;
}

.procject--card-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.project-card img {
  max-width: 5%;
}

.project-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  row-gap: 16px;
}

.announcements--title {
  font-size: 1.125rem;
  color: var(--heading-color);
}

.announcements {
  display: grid;
  padding: 20px;
  background-color: var(--header-bgc);
  border-radius: 8px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  row-gap: 20px;
}

.announcements--description {
  display: grid;
  padding-bottom: 10px;
}

.announcements .announcements--description:nth-child(1) {
  border-bottom: 2px solid var(--paragraph-card);
}

.announcements .announcements--description:nth-child(2) {
  border-bottom: 2px solid var(--paragraph-card);
}

.announcements--description .title {
  margin-bottom: 10px;
  font-size: 0.9375rem;
  color: var(--heading-color);
}

.announcements--description .paragraph {
  color: var(--paragraph-card);
  font-size: 0.75rem;
}

.trending--title {
  font-size: 1.125rem;
  color: var(--heading-color);
}

.trending--description {
  display: grid;
  padding: 16px;
  background-color: var(--header-bgc);
  border-radius: 8px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  row-gap: 10px;
}

.trending--card {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
}
